<div class="page-header">
<h1>New ticket</h1>
</div>
<h3>Choose event</h3>
<%= render 'events/events_list' %>

<%= link_to 'Back', tickets_path, class: "btn btn-default" %>


<%# <%= render 'form', ticket: @ticket, events: @events %>